body {
       background-color:#7FFFD4;
      }
hr {
       background-color:white;
       borderstyle-style:dotted none none;
       height: 5px;
       width:50%;

       }

img 
background-color:white;
border-radius: 100;
}
.circular {
background-color:white;
border-radius: 100;
}
