body {
       background-color:#7FFFD4;
      }
hr {
       background-color:grey;
       borderstyle-style:dotted;
       border-width:10%;
       width:5px;
       }

img 
background-color:white;
border-radius: 100;
}
.circular {
background-color:white;
border-radius: 100;
}
