body {
       background-color:#579BB1;
      }
hr {
       background-color:#ECE8DD;
       border-top-style:dotted;
       border-width:30%;
       width:10px;
       }

img 
background-color:white;
border-radius: 100;
}
.circular {
background-color:white;
border-radius: 100;
}
